# PostgreSQL
POSTGRES_DB=oscorp
POSTGRES_USER=oscorp
POSTGRES_PASSWORD=oscorp123
POSTGRES_PORT=5433

# n8n
N8N_VERSION=2.15.0
N8N_PORT=5678
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin123
N8N_ENCRYPTION_KEY=

# Elasticsearch / Kibana
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=cowrie-events
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# Cowrie
COWRIE_SSH_PORT=2222
COWRIE_LOG_PATH=cowrie/logs/cowrie.json

# Pipeline
POSTGRES_HOST=postgres
PAYLOAD_BASE_URL=http://payload-server:8080

# Backend
BACKEND_PORT=8000
OSCORP_API_ENVIRONMENT=lab
OSCORP_API_LOG_LEVEL=INFO

# Telegram
TELEGRAM_BOT_TOKEN=put_your_token_here
TELEGRAM_CHAT_ID=put_your_chat_id_here

# VirusTotal
VIRUSTOTAL_API_KEY=put_your_api_key_here

# VPS opcional
VPS_HOST=
VPS_USER=
VPS_COWRIE_LOG_PATH=/home/cowrie/cowrie/var/log/cowrie/cowrie.json
